body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 51%);
}
.app{
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    color: white;

}
h1{
    background: #CF1515;
background: linear-gradient(to left, #CF1515 0%, #CFC208 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: 'Teko', sans-serif;
font-size: 40px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border-radius: 5px;
    height: 330px;
    width: 400px;
    margin: 0 auto;
  }
  



  .bb {
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 11px 0px rgb(0, 0, 0);
    background: #fff; /* Change the background color to white */
    color:  rgb(2,0,36); /* Set the text color to red */
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    border: none;
    border-radius: 5px;
  }
  
.bb:hover{
    box-shadow: 0px 0px 45px 0px blue;
}

.check{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 100px;
    width: 400px;
    margin: 0 auto;
    gap: 15px;
}
.check{
    height: 40px;
    width: 40px;
    background: #CF1515;
background: linear-gradient(to left, #CF1515 0%, #CFC208 100%);
border-radius: 5px;
border: none;
margin-top: 10px;
}

.check:hover{
    box-shadow: 0px 0px 7px 0px orange;
}
i{
    color: rgb(255, 255, 255);
    font-size: 25px;
}
.check .b:hover{
    box-shadow: 0px 0px 7px 0px rgb(0, 0, 0);
}
.check .b i{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.status{
    margin-top: -10px;
    color: aqua;
    font-size: 20px;
}
