.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 450px;
  align-items: center;
  height: auto;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
}

.navbar li {
  margin-right: 20px; /* Add spacing between list items */
  font-size: 25px;
}

.navbar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navbar a:hover {
  text-decoration: underline;
}

.nimg {
  height: 40px;
  width: 40px;
}

.navbar .mobilenavigation {
  display: none;
}










@media (max-width: 1000px) {
  .navbar .navigation {
    display: none;
  }

  .navbar .mobilenavigation {
    display: flex;
  }
  .icon {
    margin-top: 10px;
    cursor: pointer;
  }
  .icon:hover {
    background-color: #e0dddd;
    border-radius: 10px;
  }

  .closeicon {
    margin-top: 10px;
    cursor: pointer;
  }
  .closeicon:hover {
    background-color: #e0dddd;
    border-radius: 10px;
  }

  .navbar nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 230px;
    left: 0;
    width: 100%;
    background: #181818;
    height: 400px;
    z-index: 100;
  }
  .navbar a {
    color: rgb(255, 255, 255);
    font-size: 30px;
  }
}
